body {

    background-color: black;
    border: solid white ;
    text-align: center;
   
}

.container{
    
    font-family: Arial, Helvetica, sans-serif;
  
   
}

.p1{
    color: red;
}

.c1{
    color:blue;
}

.r1{

    color: hotpink;
}

.textcolor{

    color:hotpink
}

button {
    border-radius: 12px;
    padding: 32px 16px;
    background-color: aqua;
    
}

.knapp1 {
background-color: blueviolet;
}

.knapp2 {

  background-color: chartreuse;  
}

.knapp3{
    background-color: gold;
}